{% set banner = theme_var('custom_banner') %}

<div class="">
    {% if banner %}
        {% set banner_file = (banner|first).name %}
    <img src="{{ url('theme://images/' ~ banner_file) }}" alt="{{ site.title }}"/>
    {% else %}
        {# {% include('@images/banner.') %} #}
        No banner! 
    {% endif %}
</div>