
<h2 class="content-title">
	Large Displays
</h2>
<p class="content-text">
	V4-Space is the Vancouver Versatile Virtual Reality and Visual Analytics Wall &amp CAVE. It was funded through an NSERC Research Tools &amp Instruments grant, with W. Stuerzlinger as principal investigator, B. Riecke, R. Woodbury, and S. DiPaola. V4-Space consists of eight 85" high-end 4k displays in portrait mode, driven by a single Windows computer with two nVidia M5000's. The system was first fully functional in Summer 2016. Due to driver restrictions, a maximum of 7 portrait-mode 4k displays can be used as a single contiguous display, with 15k x 4k resolution at 60Hz. The display system is about 8m x 2m large, with a pixel density of more than 50 ppi. Through a synchronization card, display refresh is synchronized across all displays, which ensures that video and 3D graphics show without tears between displays. More technical information can be found in a recent publication that evaluates Visual Analytics work on such a large display
</p>
