{% block contact %}
<div id="contact-us">
    <h1 class="intro-title">
        Contact Us
    </h1>

    <div class="columns">

        <div class="column col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4287.586020498334!2d-122.85085268666604!3d49.1865624267371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485d9d358d76255%3A0x27cc0a8105206a6c!2sSimon%20Fraser%20University%20-%20Surrey%20Campus!5e0!3m2!1sen!2sca!4v1603321554002!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="column col-4">
            <p>
                You can find us at <a href="http://www.sfu.ca/campuses/surrey.html" target="_blank">SFU's Surrey Campus</a>, <strong>Room 3880</strong>.
            </p>
            <a href="https://goo.gl/maps/wmos3uUd9T92">250 -13450 102 Avenue<br>
                Surrey, BC V3T 0A3 CANADA</a>
        </div>

    </div>
</div>
{% endblock %}