<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://rajabiseraji.github.io/">Moh</a>.</p>
    </section>
</section>
