@import 'components/button';
#header {
    background: $header-color-dark;
    color: $light-color;

    a {
        color: rgba(white, 0.7) !important;
    }

    a.active {
        color: white !important;
    }

    .dropmenu ul ul a {
        color: $dark-color !important;
    }

    .logo svg path {
        fill: $light-color;
    }

    
}

p, a, div {
    font-weight: $default-font-weight;
}

nav * {
    font-weight: 300;
}


#banner-content {
    width: 100%;
    height: 100vh;

    .banner-text {
        position: absolute;
        top: $header-height-large;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: whitesmoke;
            font-weight: 100;
        }
    }

    .downArrow {
        position: absolute;
        bottom: 10%;
        left: 50%;
        cursor: pointer;
    }

    .bounce {
        -moz-animation: bounce 3s infinite;
        -webkit-animation: bounce 3s infinite;
        animation: bounce 3s infinite;
    }

    @-moz-keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -moz-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -moz-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }

    @-webkit-keyframes bounce {

        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }

    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }

        60% {
            -moz-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }
}

.foreground-wrapper {
    background: white;
}

.body-logo {
    max-width: 100px;
}

.intro-title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    p

    h1.intro-title {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.h1 h1, .title-h1h2 h1 {
    font-size: 40px;
    font-family: inherit;
    font-weight: 600;
    padding: $vert-padding;
}

.intro-text {
    font-size: 20px;
    & ~ p {
        text-align: center;
    }
}


.intro-button-container {
    padding: $vert-padding;
    display: flex;
    justify-content: center;

    .main-button-label {
        font-weight: 300;
    }
}

.research-field-container {
    display: flex;
    width: 100%;
}

.research-field-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
}

.research-field-img {
    height: 85px;
}

.research-field-title {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 1rem;
    color: $title-color;
    height: 100%;
}

.intro-divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-divider {
    background-color: $divider-color;
    height: 1px;
    width: $min-button-width;
}

// News section

section#news {
    h3, h4 {
        margin-top: 0;
        color: rgb(41, 41, 41);
    }

    h3 {
        font-family: inherit;
        font-size: 22px;
        font-weight: 600;
    }

    p, .news-list-item {
        font-size: 14px;
        margin-bottom: 0.5rem;
        
        a, a:hover, a:active, a:visited {
            color: black;
            text-decoration: underline;
        }
    }

    .defence-year-item .news-list-item {
        margin-bottom: 0;
    }

    .conference-label {
        font-family: "Roboto";
        font-weight: $default-font-weight;
        font-size: 14px;
    }

    #defences {
        margin-top: 1rem;
    }

    .defence-year-item {
    
        .defence-year-label {
            font-size: 14px;
            font-weight: 500;
        }
    }
    

    .publication-venue  {

        a {
            text-decoration-style: solid;
            text-decoration-line: underline;
            text-decoration-color: rgb(97, 97, 97);
            text-decoration-skip-ink: auto;
            color: black;
        }
        
        .venue-title span {
            font-size: 18px;
            font-weight: 400;
            color: rgb(41, 41, 41);
        }

        .venue-title small {
            font-size: 10px;
            font-style: italic;
        }

        .paper-title {
            margin-bottom: 0.5rem;
            font-size: 14px;
        }
    }
}



// Research Container
.research-container {
    height: 100%;

    .container {
        padding-top: 0;
    }

    .intro-text {
        font-size: 15px;
        text-align: center;
    }

    .intro-title {
        padding: 1rem 0 1rem;
    }

    .image-container {
        width: 100%;
        height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    #topic-list {
        display: flex;
        justify-content: center;

        .topic-item {
            flex: 1;

            .topic-container {
                width: 90%;
            }
        }

        .topic-image {
            width: 100%;
            height: auto;
            transition: 0.2s ease-in-out;

            &:hover {
                transition: 0.2s ease-in-out;
                filter: brightness(80%);
            }
        }

    }

    .topic-title-container {
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        text-align: center;
        padding: 0 0.75rem 0 0.75rem;

        .topic-title {
            font-size: 20px;
            font-weight: 700;
            color: white;
            font-family: inherit;
        }

    }

    .topic-sub-categories { 
        font-size: 14px;
        font-style: italic;
        line-height: 1.2;

        a, a:hover, a:active, a:visited {
            text-decoration-style: solid;
            text-decoration-color: #3f4b6041;
            text-decoration-line: underline;
            text-decoration-skip-ink: auto;
            color: black;
            outline: 0;
            outline-color: initial;
            outline-style: initial;
            outline-width: 0px;
            vertical-align: baseline;

            &:hover,
            &:active {
                text-decoration-color: #3f4b60b6;
            }
        }
    }

    .older-projects {
        margin-top: 2rem;

        .older-projects-title {
            text-align: left;
            font-family: inherit;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
    }


}

// Interactive Systems Page
.interactive-systems-container {
    @extend .research-container;

    .top-img {
        height: 20vh;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .main-img {
        width: 100%;
    }

    .container {
        padding-top: 0 !important;
    }

    .intro-title {
        font-size: 40px;
        font-weight: 600;
        font-family: inherit;
        color: black;
        text-align: center;
        margin: 1rem auto 2rem auto;
        max-width: 400px;
    }

    .content-title {
        font-size: 22px;
        font-weight: 600;
        font-family: inherit;
        margin-top: 0;
        margin-bottom: 0.75rem;
    }
    
    .content-text, p {
        font-size: 14px;
        line-height: 1.3;
    }

    .user-interfaces .column {
        padding-left: 0;
        padding-right: 0;

        summary {
            display: flex;
            align-items: center;
            
            a {
                text-decoration: underline;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.698); 

                
            }
        

            
        }

        .svg-icon {
            display: inline-flex;
            align-items: center;
            width: 25px;
            height: 25px;
            margin-right: 0.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .column:not(.partial-column) {
        margin-top: 1rem;
    }

    .columns {
        margin-left: 0;
        margin-right: 0;

        .column-text-items {
            padding-right: 1rem;
        }

        &.top, &.bottom {
            .column-img-items {
                max-height: 30vh;
                background-color: rgba(10, 10, 10, 0.03);
            }
        }

        &.bottom {
            .column-img-items {
                margin-top: 1rem;
            }
        }

        &.reverse {
            .column-text-items {
                order: 3;
                padding-left: 1rem;
                padding-right: 0;
            }
            .column-img-items {
                order: 1;
                background-color: rgba(10, 10, 10, 0.03);
            }
            &.top {
                .column-text-items {
                    padding-left: 0;
                }
                .column-img-items {
                    margin-bottom: 1rem;
                }
            }
        }

        &.with-top-space {
            margin-top: 2rem;
        }
    }

    .right-column{
        padding-left: 0.75rem;
    }


}

// 3D UI Page
.user-interfaces {
    .main-img {
        height: 100%;
        object-fit: contain;
    }

    .partial-column:not(:first-child) {
        padding-left: 1rem;
    }

    .partial-column {
        .column-img-items {
            height: 250px;
            align-self: flex-end;
            background-color: rgba(10, 10, 10, 0.03);
        }

        .columns {
            height: 100%;
        }
    }
}

// People
.people-container {
    

    .column{
        padding-left: 0;
    } 

    .columns {
        margin-left: 0;
    }

    .intro {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }

    .intro-img {
        float: right;
    }

    .intro-text {
        position: absolute;
        bottom: 10%;
        left: 27%;

        .meet {
            position: relative;
            right: 8rem;
            top: 1rem;
        }

        .title, .title span {
            font-size: 60px;
            font-weight: 600;
            color: $title-color;
            z-index: 1;
            position: relative
        }
    }

    .highlighted-text {
        position: relative;

        .highlight {
            position: absolute;
            bottom: 10%;
            width: 110%;
            height: 38%;
            left: -5%;
            background-color: $text-highlight;

        }
        .highlight.white-highlight {
            background-color:rgba(255, 255, 255, 0.308);
            bottom: 42%;
            // test
        } 
    }

    .member-text {
        padding-top: 4rem;
        justify-content: center;
        .title {
            font-size: 22px;
            font-weight: 600;
            font-family: inherit;
            color: $title-color;
            margin-top: 0;
        }

        .text {
            font-size: 15px;
        }
    }
}


// People Image Card
.people-image-card {
    // width: 100%;
    margin-bottom: 1rem;

    .people-container {
        width: 100%;
        height: 100%;
        position: relative;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
        }

        img {
            flex-shrink: 0;
            max-width: 100%;
            max-height: 100%;
            height: 130%;
            width: 130%;
            object-fit: cover;
            transition: 0.2s ease-in-out;

            &:hover {
                transition: 0.2s ease-in-out;
                filter: brightness(80%);
            }
        }

        .name-container {
            position: absolute;
            bottom: 7%;
            right: 5%;
            left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            z-index: 2;
            padding: 0.15rem;

            .name {
                font-size: 15px;
                font-weight: 600;
                color: black;
            }

            .title {
                font-size: 10px;
                font-weight: 300;
                color: black;
            }
        }
    }
}

// Person page
.person-container {
    @extend .people-container;

    .intro {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro-img {
        width: 55%;
        height: 300px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        img {
            height: 100%;
            // width: 100%;
            // object-fit: cover;
            // object-position: top;
        }
    }

    .intro-text {
        bottom: unset;
        left: 0;
    }

    .highlighted-text .highlight-container {
        position: absolute;
        bottom: 14%;
        right: -5%;
        width: 67%;
        height: 27%;
        left: unset;

        .highlight {
            width: 100%;
            height: 100%;
            left: unset;
            bottom: unset;
        }

        .highlight.white-highlight {
            background-color: rgba(255, 255, 255, 0.308);
            bottom: 81%;
            // test
        }

    }

    .title span{
        font-size: 40px !important;
        font-weight: 600;
        font-family: inherit;
        color: $title-color;
    }

    .affiliation {
        z-index: 2;
        width: 90%;
        top: 2rem;
        position: absolute;
        
        p {
            font-size: 15px;
        }

        
        a, a:focus, a:visited {
            font-size: 15px;
            display: inline-block;
            color: black;
            text-decoration-style: solid;
            text-decoration-color: #3f4b6041;
            text-decoration-skip-ink: auto;
            text-decoration-line: underline;
        }


    }

    .person-text-parent {
        justify-content: center;
    }

    .person-text {
        @extend section#news;

        margin-top: 3rem;
        #defences {
            margin-top: 0;
        }
    }

    .website {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 10rem;
        
        .website-inner-container {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }
        
        .website-icon {
            margin-right: 2rem;
            width: 29px;
            height: 29px;
            position: relative;
            display: inline-block;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        .website-text {
            font-size: 15px;
            display: inline-block;

            a, a:focus, a:visited {
                color: black;
                text-decoration-style: solid;
                text-decoration-color: #3f4b6041;
                text-decoration-skip-ink: auto;
                text-decoration-line: underline;
            }
        }

        .intro-divider-container {
            position: absolute;
            right: 0;
            left: 0;
            /* top: 4rem; */
            margin-top: 5rem;

            .intro-divider {
                width: 100%;
            }
        }

    }
}

// #header {
//     height: $header-height-small;
// }

//  Open positions
.open-positions-container {
    .intro-title {
        font-size: 40px;
        font-family: inherit;
        font-weight: 600;
        color: $title-color;
    }
}

.chevron-down-button {
    cursor: pointer;
}

.publication-title {
    font-size: 40px;
    font-weight: 600;
}

.main-logo-banner {
    height: 60%;
}

#banner-animation {
    width: 60vw;
    cursor: pointer;
}


// Modals
.modal {
    &.modal-lg {
        .modal-overlay {
            background: rgba($bg-color, .75);
        }
        .modal-container {
            @include shadow-variant(.2rem);
        }
    }

}

#contact-us {
    p, a {
        font-size: 16px;
        font-weight: 400;
    }

    a,
    a:hover,
    a:active,
    a:visited {
        text-decoration-style: solid;
        text-decoration-color: #3f4b6041;
        text-decoration-line: underline;
        text-decoration-skip-ink: auto;
        color: black;
        outline: 0;
        outline-color: initial;
        outline-style: initial;
        outline-width: 0px;
        vertical-align: baseline;

        &:hover,
        &:active {
            text-decoration-color: #3f4b60b6;
        }
    }
}

