@import 'components/button';
#header {
    background: $header-color-dark;
    color: $light-color;

    a {
        color: rgba($light-color, 0.7) !important;
    }

    a.active {
        color: $light-color !important;
    }

    .dropmenu ul ul a {
        color: $dark-color !important;
    }

    .logo svg path {
        fill: $light-color;
    }

    
}


#banner-content {
    .banner-text {
        position: absolute;
        top: $header-height-large;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: whitesmoke;
            font-weight: 100;
        }
    }
}

#logo-content {
    position: absolute;
    right: 0;

    .body-logo {
        max-width: 60px;
    }
}

.h1 h1, .title-h1h2 h1 {
    font-size: 40px;
    font-weight: 700;
    padding: $vert-padding;
}

.intro-text {
    font-size: 20px;
}


.intro-button-container {
    padding: $vert-padding;
    display: flex;
    justify-content: center;
}

.research-field-container {
    display: flex;
    width: 100%;
}

.research-field-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-direction: column;
}

.research-field-img {
    max-height: 65px;
}

.research-field-title {
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 1rem;
}

.intro-divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-divider {
    background-color: $divider-color;
    height: 1px;
    width: $min-button-width;
}
