<section id="publications">
	<h3>
		Publications &amp
		<br>
		Presentations
	</h3>
	<section class="publication-venue" id="ACM">
		<div class="venue-title">
			<a href="">ACM CHI 2020</a>
		</div>
		<div class="paper-title">
			<a href="">
				A new method for Self-repairing Autocorrect for Mobile Text Entry
			</a>
		</div>
		<div class="paper-title">
			<a href="">
				ORCSolver, a new efficient solver for adaptive GUI layout with OR-constraints
			</a>
		</div>
	</section>
	<section class="publication-venue" id="ACM">
		<div class="venue-title">
			<a href="">IEEE VR (Online)</a>
			<small>Presented by Wolfgang Stuerzlinger</small>
		</div>
		<div class="paper-title">
			<a href="">
				A new method for Self-repairing Autocorrect for Mobile Text Entry
			</a>
		</div>
		<div class="paper-title">
			<a href="">
				A new method for Self-repairing Autocorrect for Mobile Text Entry
			</a>
		</div>
	</section>
</section>
