{% set news_sections = page.header.conferences.items %}

<section id="conference" class="columns">
	<div class="column col-4">
		<h3>{{ page.header.title }}</h3>
	</div>
	<div class="column col-6">
    {% for news_section in news_sections %}
        <div class="pb-2">
            <h4 class="conference-label">{{ news_section.title }}</h4>
            {% for news_item in news_section.items %}
                <div class="news-list-item">
                    - 
                    <a href="{{ news_item.url }}" target="_blank" rel="noopener noreferrer">
                        {{news_item.text}}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
	</div>
</section>
