{% set conferences = page.find('/newwebsite/home/news/conferences') %}
{% set defences = page.find('/newwebsite/home/news/defences') %}
{% set publications = page.find('/newwebsite/home/news/publications') %}



<section id="news">
	<h1 class="intro-title">
		{{page.header.title}}
	</h1>

	<section id="news-columns" class="columns">
		<div id="left-column" class="column col-6">
			{% block conferences %}
                {% if conferences %}
                    {% include "news-conferences.html.twig" with {'page': conferences} %}
                {% endif %}
            {% endblock %}

			{% block defences %}
                {% if defences %}
                    {% include "news-defences.html.twig" with {'page': defences} %}
                {% endif %}
            {% endblock %}
			
		</div>
		<div id="right-column" class="column col-6">
			{% block publications %}
                {% if publications %}
                    {% include "news-publications.html.twig" with {'page': publications} %}
                {% endif %}
            {% endblock %}
		</div>
	</section>
</section>
