{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}
{% set people = page.children.visibile %}
{% set page_text_items = page.header.page_items.items %}


{% block body %}

    <section id="body-wrapper" class="people-container">
        <section class="container {{ grid_size }} p-relative">
            {% block intro %}
                <section class="intro">
                    <div class="intro-img">
                        <img class="main-img" src="{{ url('theme://images/labpeople.png') }}"/>
                    </div>
                    <div class="intro-text">
                        <span class="meet title">
                            Meet the
                        </span>
                        <div class="highlighted-text title">
                            <span class="vvise">
                                VVISE Lab
                            </span>
                            <div class="highlight white-highlight"></div>
                            <div class="highlight"></div>
                        </div>
                    </div>
                    <div class="intro-text-mobile">
                        <div class="highlighted-text title">
                            <div class="vvise">
                                Meet the VVISE People
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock intro %}
            <section class="member-text columns">
                <div class="column columns col-md-11 col-10">
                    {% for text_item in page_text_items %}
                        <div class="column col-md-12 col-6">
                            <div class="columns">
                                <div class="column col-4">
                                    <h2 class="title">
                                        {{ text_item.title }}
                                    </h2>
                                </div>
                                <div class="column col-8">
                                    <p class="text">
                                        {{ text_item.desc }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {# <div class="column col-6">
                        <div class="columns">
                            <div class="column col-4">
                                <h2 class="title">
                                    Interested in joining?
                                </h2>
                            </div>
                            <div class="column col-8">
                                <p class="text">
                                    See our open positions for current options.
                                </p>
                            </div>
                        </div>
                    </div> #}

                    {% include "partials/people-image.html.twig" with people %}
                </div>
            </section>

            
        </section>
    </section>
{% endblock %}