{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}

{% block body %}
    <section id="body-wrapper" class="open-positions-container">
        <section class="container {{ grid_size }} p-relative">
        {% block intro %}
            <section id="intro">
                <h1 class="intro-title publication-title">
                    {{ page.header.title }}
                </h1>
            </section>
            
            <section class="publications pt-2">
                {{page.content}}
            </section>
        </section>
        {% endblock %}
    </section>
{% endblock %}
