{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}

{% block body %}

    <section id="body-wrapper" class="research-container">
        <section class="container {{ grid_size }} p-relative">

            {% block intro %}
            <section id="intro" class="columns">
                <div class="column col-9 col-mx-auto">
                    <h1 class="intro-title">
                        {{ page.header.title }}
                    </h1>
                    <p class="intro-text">{{page.header.desc}}</p>
                    
                    {% include 'partials/research-topic-list.html.twig' with {subpages: page.children} %}

                    <section class="older-projects columns">
                        <h2 class="older-projects-title col-12">
                            Older Computer Graphics Projects
                        </h2>
                        <p class="topic-sub-categories col-12">
                            <span>
                                <a href="">High Dynamic Range Systems,</a>
                                <a href="">Displays, 3D</a><br>
                                <a href="">Tracking and Haptic Systems</a>
                            </span>
                        </p>
                    </section>
                </p>
                </div>
            </section>
            {% endblock %}

            
        </section>

    </section>

{% endblock %}

{% block content %}
	{{ page.content|raw }}
{% endblock %}

